.Rproj.user
.Rhistory
.RData
.Ruserdata

/.quarto/
/labs
/projects

./course-materials/labs/lab4/2011.csv

./course-materials/labs/lab4/lab4solution.qmd
./course-materials/lectures/33_SQL-examples.qmd
itpas2.txt
pas220.zip

2011.csv
course-materials/lectures/2011.csv

SDS192.Rproj